@charset "UTF-8";

/*- - #ffffff #222328 로고컬러변경 over메뉴 슬라이드좌우 푸터로고회색 */

/* 전체 페이지 초기화 영역*/
*{
    margin:0; padding:0; box-sizing:border-box; 
    letter-spacing:-1px; font-family:"맑은 고딕"; color:#333333;}
    
html,body{width:1000px; height:650px;}
ul,li{list-style:none;}
a{text-decoration:none; color:inherit; cursor:pointer}

/*헤더*/
header{
    float:left;
    width:150px; height:100%;
}
header .logo{
    width:150px; height:100px;
    background: url(../images/logo.png) no-repeat 0 50%;text-indent: -9999px;
}
header nav{
    width:150px; height:550px;
 }

/*메뉴 바*/
header nav{
    width:150px; height:550px;
}
header nav .main_menu li{
    width:150px; height:50px; 
    text-align:center; line-height:50px;background:white;
}
header nav .main_menu li .sub_menu{
    display:none; position:relative;
    width:150px; background:rgba(0,0,0,0.8); color:white;
    top:-100px; left:150px; z-index:3
}
header nav .main_menu li .sub_menu li{
    width:150px; 
    background:none; color:white;
}

/*하이라이트 효과(확장판)*/
header nav .main_menu li a{
    display:block; 
    width:150px; height:50px; }
header nav .main_menu li .sub_menu li a{
    display:block;
    width:150px; height:50px;
}

header nav .main_menu li a:hover{
    background:red; color:white;
}
header nav .main_menu li .sub_menu li a:hover{
    background:red; color:white;
}

/*슬라이드 좌우*/
.slide{
    position:relative;
    width:850px; height:350px;
    overflow:hidden; margin-left:150px;
}
.slide .img_slide{
    position:absolute;
    width:850px; height:350px;
}
.slide .img_slide li{
    float:left;
    width:850px; height:350px;
}
.slide .img_slide li img{
    width:100%; height:100%; 
}

/*메인 공통 영역*/
.main{
    float:left;
    width:850px; height:200px;
}
.main .title{
    width:100%; height:50px;
    line-height:50px;font-size:16pt; font-weight:bold;
    text-indent:5px; letter-spacing:-2px;
    border-bottom:1px solid #ccc;
}
.main .contents{
    width:100%; height:150px;
}

/*메인 공지사항 영역*/
.main .notice{
    float:left;
    width:350px; height:200px;
}
.main .notice table{
    width:100%; height:100%;
    text-align:center;
}

/*메인 갤러리 영역*/
.main .gallery{
    float:left;
    width:300px; height:200px;
}
.main .gallery .contents {
    text-align:center;line-height:150px;
}
.main .gallery .contents img{
    vertical-align:middle; 
    width: 90px; height: 90px;
}

/*메인 바로가기 영역*/
.main .goto{
    float:left;
    width:200px; height:200px;
    text-align:center;
}
.main .goto i {
    float:left; vertical-align:bottom;
}
footer{
    display: flex; justify-content: space-between;
    height: 100px; padding: 0 20px;
    background:#eee;
    }
footer h1{
    display: flex; align-items: center;
    }
footer h1 a{
    width: 159px; height: 39px;
    background: url(../images/footer_logo.png) no-repeat 0 0;
    text-indent: -9999px;
}
footer .copyright{
    display: flex; align-items: center;
 }
footer .family-site{
    display: flex; align-items: center;
}

/* 모달 레이어 팝업 공통 영역*/
.mlp{display:none; position:fixed; width:100%; height:100%; background:rgba(0,0,0,0.8); top:0; left:0;}
.mlp .popup{ position:fixed; width:600px; height:400px; background:white; top:50%; left:50%; margin-top:-200px; margin-left:-300px; z-index:100; box-shadow:0 0 10px gray; border-radius:5px;}

/* 모달 레이어 제목 영역*/
.mlp .popup .heading{width:565px; margin:15px; border-bottom:1px solid gray; padding:3px;}

/* 모달 레이어 컨텐츠 영역*/
.mlp .popup .contents{width:600px; height:290px; border-bottom:1px solid gray;text-align:center;}
.mlp .popup .contents p{ width:570px; height:50px; padding:0 10px 10px 10px;text-align:left; }

/* 모달 레이어 닫기버튼 영역*/
.mlp .popup .close{width:50px; height:25px; text-align:center; line-height:25px; margin-top:10px; margin-left:535px; border:1px solid gray; border-radius:3px; }
.mlp .popup .close:hover{ font-weight:bold; color:red; }